@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

$main-color: #000000;
$primary-color: #dbdbdb;
$white-color: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  margin-top: 15px;
  margin-left: 15px;
  grid-template-areas: "nav" "news";
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}
